= form_for runner, url: runner_form_url do |f|
  = form_errors(runner)
  .form-group.row
    = label :active, _("Active"), class: 'col-form-label col-sm-2'
    .col-sm-10
      .form-check
        = f.check_box :active, { class: 'form-check-input' }
        %label.light{ for: :runner_active }= _("Paused runners don't accept new jobs")
  .form-group.row
    = label :protected, _("Protected"), class: 'col-form-label col-sm-2'
    .col-sm-10
      .form-check
        = f.check_box :access_level, { class: 'form-check-input' }, 'ref_protected', 'not_protected'
        %label.light{ for: :runner_access_level }= _('This runner will only run on pipelines triggered on protected branches')
  .form-group.row
    = label :run_untagged, _('Run untagged jobs'), class: 'col-form-label col-sm-2'
    .col-sm-10
      .form-check
        = f.check_box :run_untagged, { class: 'form-check-input' }
        %label.light{ for: :runner_run_untagged }= _('Indicates whether this runner can pick jobs without tags')
  - unless runner.group_type?
    .form-group.row
      = label :locked, _('Lock to current projects'), class: 'col-form-label col-sm-2'
      .col-sm-10
        .form-check
          = f.check_box :locked, { class: 'form-check-input' }
          %label.light{ for: :runner_locked }= _('When a runner is locked, it cannot be assigned to other projects')
  .form-group.row
    = label_tag :ip_address, class: 'col-form-label col-sm-2' do
      = _('IP Address')
    .col-sm-10
      = f.text_field :ip_address, class: 'form-control', readonly: true
  .form-group.row
    = label_tag :description, class: 'col-form-label col-sm-2' do
      = _('Description')
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group.row
    = label_tag :maximum_timeout_human_readable, class: 'col-form-label col-sm-2' do
      = _('Maximum job timeout')
    .col-sm-10
      = f.text_field :maximum_timeout_human_readable, class: 'form-control'
      .form-text.text-muted= _('Enter the number of seconds, or other human-readable input, like "1 hour". This timeout takes precedence over lower timeouts set for the project.')
  .form-group.row
    = label_tag :tag_list, class: 'col-form-label col-sm-2' do
      = _('Tags')
    .col-sm-10
      = f.text_field :tag_list, value: runner.tag_list.sort.join(', '), class: 'form-control'
      .form-text.text-muted= _('You can configure jobs to use runners that are assigned specific tags. Separate tags with commas.')
  - if local_assigns[:in_gitlab_com_admin_context]
    .form-group.row
      = label_tag :public_projects_minutes_cost_factor, class: 'col-form-label col-sm-2' do
        = _('Public projects Minutes cost factor')
      .col-sm-10
        = f.text_field :public_projects_minutes_cost_factor, class: 'form-control'
    .form-group.row
      = label_tag :private_projects_minutes_cost_factor, class: 'col-form-label col-sm-2' do
        = _('Private projects Minutes cost factor')
      .col-sm-10
        = f.text_field :private_projects_minutes_cost_factor, class: 'form-control'
  .form-actions
    = f.submit _('Save changes'), class: 'btn btn-success'
